In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('TCS.NS.csv')

In [4]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-03-26,1409.500000,1413.699951,1390.775024,1408.500000,1263.956909,2964210
1,2018-03-27,1412.500000,1431.500000,1411.525024,1423.849976,1277.731567,2494574
2,2018-03-28,1417.949951,1437.500000,1412.500000,1424.574951,1278.382202,6865654
3,2018-04-02,1420.000000,1457.000000,1420.000000,1454.824951,1305.527832,1662988
4,2018-04-03,1446.050049,1464.949951,1446.050049,1455.625000,1306.245972,1937290

In [5]:
df.drop('Adj Close',axis=1,inplace=True)

In [6]:
dataset.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-03-26,1409.500000,1413.699951,1390.775024,1408.500000,1263.956909,2964210
1,2018-03-27,1412.500000,1431.500000,1411.525024,1423.849976,1277.731567,2494574
2,2018-03-28,1417.949951,1437.500000,1412.500000,1424.574951,1278.382202,6865654
3,2018-04-02,1420.000000,1457.000000,1420.000000,1454.824951,1305.527832,1662988
4,2018-04-03,1446.050049,1464.949951,1446.050049,1455.625000,1306.245972,1937290

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1237 entries, 0 to 1236
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1237 non-null   object
 1   Open    1237 non-null   float64
 2   High    1237 non-null   float64
 3   Low     1237 non-null   float64
 4   Close   1237 non-null   float64
 5   Volume  1237 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 58.1+ KB

In [11]:
df.describe()

              Open         High          Low        Close        Volume
count  1237.000000  1237.000000  1237.000000  1237.000000  1.237000e+03
mean   2671.890378  2698.448844  2642.727856  2670.300646  3.003810e+06
std     686.570508   689.521390   682.113327   685.849805  1.908960e+06
min    1409.500000  1413.699951  1390.775024  1408.500000  1.445300e+05
25%    2060.000000  2078.800049  2032.699951  2051.000000  1.857416e+06
50%    2491.399902  2538.000000  2464.600098  2503.000000  2.544464e+06
75%    3292.850098  3325.000000  3262.100098  3290.500000  3.509857e+06
max    4033.949951  4043.000000  3980.000000  4019.149902  2.290380e+07

In [12]:
x=df[['Open','High','Low','Volume']]
y=df['Close']

In [13]:
from sklearn.model_selection import train_test_split
x_train , x_test ,y_train , y_test = train_test_split(x,y,random_state=0)

In [14]:
x_test.shape

(310, 4)

In [15]:
x_test.shape

(310, 4)